<a href="https://colab.research.google.com/github/YahiaML/Statistics-and-R-Harvard-course-/blob/main/L_2_female_Mice_Weights_csv_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Getting Started Exercises #1**

Read in the file femaleMiceWeights.csv and report the exact name of the column containing the weights.

In [61]:
library (readr)

urlfile <- "https://raw.githubusercontent.com/genomicsclass/dagdata/master/inst/extdata/femaleMiceWeights.csv"

df <- read_csv(url(urlfile))

Rows: 24 Columns: 2
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (1): Diet
dbl (1): Bodyweight

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

In [62]:
df

   Diet Bodyweight
1  chow 21.51
2  chow 28.14
3  chow 24.04
4  chow 23.45
5  chow 23.68
6  chow 19.79
7  chow 28.40
8  chow 20.98
9  chow 22.51
10 chow 20.10
11 chow 26.91
12 chow 26.25
13 hf   25.71
14 hf   26.37
15 hf   22.80
16 hf   25.34
17 hf   24.97
18 hf   28.14
19 hf   29.58
20 hf   30.92
21 hf   34.02
22 hf   21.90
23 hf   31.53
24 hf   20.73

#**Getting Started Exercises #2**

The [ and ] symbols can be used to extract specific rows and specific columns of the table.

What is the entry in the 12th row and second column?

In [90]:
df[12,2]   # Row, column

  Bodyweight
1 26.25

#**Getting Started Exercises #3**

You should have learned how to use the dollar character to extract a column from a table and return it as a vector. Use the dollar sign to extract the weight column and report the weight of the mouse in the 11th row.

In [91]:
df$Bodyweight[11]

[1] 26.91

#**Getting Started Exercises #4**

The length() function returns the number of elements in a vector.

How many mice are included in our dataset?

In [92]:
length(df$Diet)

[1] 24

#**Getting Started Exercises #5**

To create a vector with the numbers 3 to 7, we can use seq(3,7) or, because they are consecutive, 3:7. View the data and determine what rows are associated with the high fat or hf diet. Then use the mean() function to compute the average weight of these mice.

What is the average weight of mice on the high fat diet?

In [84]:
mean(df$Bodyweight[which(df$Diet == "hf")])

[1] 26.83417

#**Getting Started Exercises #6**

One of the functions we will be using often is sample(). Read the help file for sample() using ?sample. Now take a random sample of size 1 from the numbers 13 to 24 and report back the weight of the mouse represented by that row. Make sure to type set.seed(1) to ensure that everybody gets the same answer.

In [93]:
?sample()

In [104]:
#sample(values, size_of_subsample) 

set.seed(1)
vec <- 13:24
df$Bodyweight[sample(vec, 1)]

[1] 34.02