<a href="https://colab.research.google.com/github/YahiaML/Statistics-and-R-Harvard-course-/blob/main/L_03_dplyr_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [107]:
install.packages("dplyr")

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

In [108]:
library(dplyr)

In [ ]:
library (readr)

urlfile <- "https://raw.githubusercontent.com/genomicsclass/dagdata/master/inst/extdata/femaleMiceWeights.csv"

df <- read_csv(url(urlfile))

In [114]:
head(df,2)

  Diet Bodyweight
1 chow 21.51
2 chow 28.14

# Filter the dataset

In [123]:
df2 <- filter(df,Diet == "chow") 
tail(df2,2)
tail(df,2)
nrow(df2)
nrow(df)

  Diet Bodyweight
1 chow 26.91
2 chow 26.25

  Diet Bodyweight
1 hf   31.53
2 hf   20.73

[1] 12

[1] 24

#select a specific column

In [124]:
select(df2, Bodyweight)

   Bodyweight
1  21.51
2  28.14
3  24.04
4  23.45
5  23.68
6  19.79
7  28.40
8  20.98
9  22.51
10 20.10
11 26.91
12 26.25

#Unlist

In [125]:
Bodyweight_list <- select(df2, Bodyweight)

un_listed_Bodyweight <- unlist(Bodyweight_list)
un_listed_Bodyweight

 Bodyweight1  Bodyweight2  Bodyweight3  Bodyweight4  Bodyweight5  Bodyweight6
       21.51        28.14        24.04        23.45        23.68        19.79
 Bodyweight7  Bodyweight8  Bodyweight9 Bodyweight10 Bodyweight11 Bodyweight12
       28.40        20.98        22.51        20.10        26.91        26.25