<a href="https://colab.research.google.com/github/YahiaML/Statistics-and-R-Harvard-course-/blob/main/L_04_dplyr_Exercises_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**dplyr Exercises #1**

Read in the msleep_ggplot2.csv file with the function read.csv() and use the function class() to determine what type of object is returned.

In [139]:
df <- read.csv("https://raw.githubusercontent.com/genomicsclass/dagdata/master/inst/extdata/msleep_ggplot2.csv")

In [140]:
class(df)

[1] "data.frame"

In [141]:
head(df,2)

  name       genus    vore  order     conservation sleep_total sleep_rem
1 Cheetah    Acinonyx carni Carnivora lc           12.1         NA
2 Owl monkey Aotus    omni  Primates  NA           17.0        1.8
  sleep_cycle awake brainwt bodywt
1 NA          11.9      NA  50.00
2 NA           7.0  0.0155   0.48

#**dplyr Exercises #2**

Now use the filter() function to select only the primates.

How many animals in the table are primates?

Hint: the nrow() function gives you the number of rows of a data frame or matrix.

In [144]:
df_filtred1 <- filter(df, order	== "Primates")
nrow(df_filtred1)

[1] 12

In [146]:
df_filtred1

   name            genus         vore  order    conservation sleep_total
1  Owl monkey      Aotus         omni  Primates NA           17.0
2  Grivet          Cercopithecus omni  Primates lc           10.0
3  Patas monkey    Erythrocebus  omni  Primates lc           10.9
4  Galago          Galago        omni  Primates NA            9.8
5  Human           Homo          omni  Primates NA            8.0
6  Mongoose lemur  Lemur         herbi Primates vu            9.5
7  Macaque         Macaca        omni  Primates NA           10.1
8  Slow loris      Nyctibeus     carni Primates NA           11.0
9  Chimpanzee      Pan           omni  Primates NA            9.7
10 Baboon          Papio         omni  Primates NA            9.4
11 Potto           Perodicticus  omni  Primates lc           11.0
12 Squirrel monkey Saimiri       omni  Primates NA            9.6
   sleep_rem sleep_cycle awake brainwt bodywt
1  1.8              NA    7.0  0.0155   0.480
2  0.7              NA   14.0      NA   4.750
3  1.1              NA   13.1  0.1150  10.000
4  1.1       0.5500000   14.2  0.0050   0.200
5  1.9       1.5000000   16.0  1.3200  62.000
6  0.9              NA   14.5      NA   1.670
7  1.2       0.7500000   13.9  0.1790   6.800
8   NA              NA   13.0  0.0125   1.400
9  1.4       1.4166667   14.3  0.4400  52.200
10 1.0       0.6666667   14.6  0.1800  25.235
11  NA              NA   13.0      NA   1.100
12 1.4              NA   14.4  0.0200   0.743

#**dplyr Exercises #3**

What is the class of the object you obtain after subsetting the table to only include primates?

In [145]:
class(df_filtred1)

[1] "data.frame"

#**dplyr Exercises #4**

Now use the select() function to extract the sleep (total) for the primates.

In [162]:
sleep_total_sel <- select(df_filtred1,"sleep_total")
class(sleep_total_sel)

[1] "data.frame"

#**dplyr Exercises #5**

Now we want to calculate the average amount of sleep for primates (the average of the numbers computed above). One challenge is that the mean() function requires a vector so, if we simply apply it to the output above, we get an error. Look at the help file for unlist() and use it to compute the desired average.

What is the average amount of sleep for primates?

In [165]:
mean(unlist(sleep_total_sel))

[1] 10.5

#**dplyr Exercises #6**

For the last exercise, we could also use the dplyr summarize() function. We have not introduced this function, but you can read the help file and repeat exercise 5, this time using just filter() and summarize() to get the answer.

What is the average amount of sleep for primates calculated by summarize()

In [170]:
df_filtered_2 <- filter(df, order=="Primates") %>% summarize(sleep_total) %>% unlist
mean( df_filtered_2 )

[1] 10.5